.data-field.get {
    background-color: lighten($green, 40%);
    border-top: .1em solid lighten($green, 10%);
    border-right: .1em solid lighten($green, 10%);
    border-left: .1em solid lighten($green, 10%);
    padding: 0.75rem;

    display: flex;
    align-items: baseline;

    .btn {
        background-color: $green;
    }

    h4, p {
        color: lighten($grey, 20%);
    }

    * {
        margin-right: 2rem;
    }
}

.data-field.get.clicked {
    border-bottom: .1em solid lighten($green, 10%);
    margin-bottom: 1rem;
}

.data-field-action {
    margin-bottom: 1rem;
}

.data-field-action.get.api-request-made {
    margin-bottom: 0rem;
    border-bottom: 0rem;
}

.data-field-action.get {
    background-color: lighten($green, 40%);
    border-bottom: .1em solid lighten($green, 10%);
    border-right: .1em solid lighten($green, 10%);
    border-left: .1em solid lighten($green, 10%);
    padding: 0.75rem;
}
