.data-field.post {
    background-color: lighten($blue, 50%);
    border-top: .1em solid lighten($blue, 10%);
    border-right: .1em solid lighten($blue, 10%);
    border-left: .1em solid lighten($blue, 10%);
    padding: 0.75rem;

    display: flex;
    align-items: baseline;

    h4, p {
        color: lighten($grey, 20%);
    }

    * {
        margin-right: 2rem;
    }
}

.btn-post {
    background-color: $blue;
}

.data-field.post.clicked {
    border-bottom: .1em solid lighten($blue, 10%);
    margin-bottom: 1rem;
}

.parameters-title-holder.post {
    display: flex;
    justify-content: flex-start;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background: white;
    min-height: 4rem;
    border-right: .1em solid lighten($blue, 10%);
    border-left: .1em solid lighten($blue, 10%);

    button {
        margin-left: 1rem;
    }
}

.data-field-action.post {
    background-color: lighten($blue, 50%);
    border-bottom: .1em solid lighten($blue, 10%);
    border-right: .1em solid lighten($blue, 10%);
    border-left: .1em solid lighten($blue, 10%);
    padding: 0.75rem;
}
